@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    width: 100%;
    background-color:#1A1A2E;
    color: #FFFFFF;
    padding: 20px 0;
}
header h1 {
    text-align: center;
    margin-top: 20px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}






footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-wrap: wrap; /* ✅ Ensures better responsiveness */
}

.social img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    display: block;
}

.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-right: 10px;
}

nav a {
    margin-right: 100px;
}